<aside id="sidebar">
  <div class="logo">
    <img alt="dbflute-logo" src="{{ site.baseurl }}/image/parts/logo.png" width="240" height="110">
  </div>
  <ul>
    <li><a href="{{ site.baseurl }}/">EMecha for Eclipse</a></li>
    <li><a href="{{ site.baseurl }}/license.html">ライセンス</a></li>
    <li><a href="{{ site.baseurl }}/setup.html">インストール</a></li>
    <li>
      <a href="{{ site.baseurl }}/usage/">機能概要</a>
      <ul>
        <li><a href="{{ site.baseurl }}/usage/dfeditor.html">DFEditor</a></li>
        <li><a href="{{ site.baseurl }}/usage/emsql.html">EMSql</a></li>
        <li class="upper-space"><a href="{{ site.baseurl }}/usage/dfassist.html">DFAssist</a></li>
        <li><a href="{{ site.baseurl }}/usage/sqlassist.html">SQLAssist</a></li>
        <li><a href="{{ site.baseurl }}/usage/synchronizer.html">EMSynchronizer</a></li>
      </ul>
    </li>
  </ul>
</aside>
